@using WebAS.Resources;

@{
    ViewBag.Title = @ViewResource.TitleHomeIndex;
}

<div class="row">
    <div class="col-md-4">
        <h1>@ViewBag.Title</h1>
        <p class="lead">@ViewResource.LeadHome</p>
        @*<p><a href="http://asp.net" class="btn btn-block">@ViewResource.ButtonMore &raquo;</a></p>*@
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewResource.H2IndexDescription</h2>
        <p>@ViewResource.TextIndexDescriptionP1</p>
        <p>@ViewResource.TextIndexDescriptionP2</p>
        <p>@ViewResource.TextIndexDescriptionP3</p>
        <p>@ViewResource.TextIndexDescriptionP4</p>
        @*<p><a class="btn btn-block" href="http://go.microsoft.com/fwlink/?LinkId=301865">@ViewResource.ButtonMore &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>@ViewResource.H2IndexComponent</h2>
        <ul>
            <li>@ViewResource.TextIndexComponentUl1Li1</li>
            <li>@ViewResource.TextIndexComponentUl1Li2</li>
            @*<li>@ViewResource.TextIndexComponentUl1Li3</li>*@
            <li>@ViewResource.TextIndexComponentUl1Li4</li>
            <li>@ViewResource.TextIndexComponentUl1Li5</li>
            <li>@ViewResource.TextIndexComponentUl1Li6</li>
            <li>@ViewResource.TextIndexComponentUl1Li7</li>
            <li>@ViewResource.TextIndexComponentUl1Li8</li>
        </ul>
        @*<p><a class="btn btn-block" href="http://go.microsoft.com/fwlink/?LinkId=301866">@ViewResource.ButtonMore &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>@ViewResource.H2IndexTodo</h2>
        <p>@ViewResource.TextIndexTodoP1</p>
        @*<p><a class="btn btn-block" href="http://go.microsoft.com/fwlink/?LinkId=301867">@ViewResource.ButtonMore &raquo;</a></p>*@
    </div>
</div>